@import "variables";

.info {

  &__registration-bar {
    position: relative;

    width: 330px;
    height: 319px;

    background: #fff;
    border: $border-form;
    box-sizing: border-box;
    border-radius: 3px;

    margin-top: 39px;

    transition: box-shadow 0.3s;
    &:hover {
      box-shadow: 8px -9px 15px 0 rgba(240,240,240,1);
    }
    &__price {
      position: absolute;

      font-size: $font-size-default;

      top: 30px;
      left: 30px;
    }

    &__form {
      width: 270px;
      height: 50px;

      background: #fff;
      border: $border-form;
      box-sizing: border-box;
      border-radius: 3px;

      padding-left: 17px;

      font-size: $font-size-default;

      transition: box-shadow 0.2s;
    }
    &--data {
      margin: 91px 30px 16px;
    }
    &--text {
      margin-left: 30px;
    }
    &__form:hover {
      box-shadow: 0 2px 5px rgba(61, 78, 97, 0.2);
    }

    &__button {
      position: absolute;
      width: 270px;
      height: 50px;

      color: #fff;

      font-size: $font-size-default;

      text-align: center;
      line-height: 50px;

      left: 30px;
      bottom: 38px;

      background-color: #fd5c63;
      border-radius: 4px;
      box-sizing: border-box;

      transition: color 0.4s, background-color 0.4s, border 0.4s;
    }

    &__button:hover {
      color: #fd5c63;
      background-color: #fff;
      border: 1px solid #fd5c63;
    }
  }
}
